 
/*This is CSS for the entire web page*/

body {
    background-color: gainsboro;
    
}
     
.logo {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    z-index: 1
}

nav {
    text-align:center;   
    font-size: 60px;
    font-family: "Georgia", Georgia, serif;
    font-style: normal;
    z-index: 1;
    position:sticky
}


a {
  color: black;
   text-decoration: none;
}


h1 {
  text-align:center left;
    font-size: 75
    
}

p {
  text-align: center;
}

